body {
      color: #404e67;
      background-color: #f5f7fa;
    }
    
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: Montserrat, Georgia, "Times New Roman", Times, serif;
      color: inherit;
    }
    
    .card {
      margin-bottom: 1.875rem;
      border: none;
      border-radius: 0;
      box-shadow: 0 10px 40px 0 rgb(62 57 107 / 7%), 0 2px 9px 0 rgb(62 57 107 / 6%);
    }
    
    .card .card-title {
      font-weight: 500;
      letter-spacing: 0.05rem;
      font-size: 1.12rem;
    }
    .card .card-text {
      min-height: 3rem;
    }
    .breadcrumb,
    .card .card-title,
    .dropdown-header {
      text-transform: uppercase;
    }
    
    .btn-primary {
      background-color: #00b5b8 !important;
      color: #fff;
      border-color: #00b5b8;
    }
    .btn-primary:hover {
      border-color: #009c9f !important;
      background-color: #00ced2 !important;
      color: #fff !important;
    }
    .btn-primary:active,
    .btn-primary:focus {
      border-color: #008385 !important;
      background-color: #006a6c !important;
      color: #fff !important;
    }
    .btn-outline-primary {
      border-color: #00b5b8;
      background-color: transparent;
      color: #00b5b8;
    }
    .btn-outline-primary:hover {
      background-color: #00b5b8;
      color: #fff !important;
    }

    ul li a{
      text-decoration: none;
    }

    .github-fork-ribbon {
      width: 12.1em;
      height: 12.1em;
      position: absolute;
      overflow: hidden;
      top: 0;
      right: 0;
      z-index: 9999;
      pointer-events: none;
      font-size: 13px;
      text-decoration: none;
      text-indent: -999999px;
    }
    .github-fork-ribbon.fixed {
      position: fixed;
    }
    .github-fork-ribbon:active,
    .github-fork-ribbon:hover {
      background-color: rgba(0, 0, 0, 0);
    }
    .github-fork-ribbon:after,
    .github-fork-ribbon:before {
      position: absolute;
      display: block;
      width: 15.38em;
      height: 1.54em;
      top: 3.23em;
      right: -3.23em;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .github-fork-ribbon:before {
      content: "";
      padding: 0.38em 0;
      background-color: #a00;
      background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0)),
        to(rgba(0, 0, 0, 0.15))
      );
      background-image: -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.15)
      );
      background-image: -moz-linear-gradient(
        top,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.15)
      );
      background-image: -ms-linear-gradient(
        top,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.15)
      );
      background-image: -o-linear-gradient(
        top,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.15)
      );
      background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.15)
      );
      -webkit-box-shadow: 0 0.15em 0.23em 0 rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 0.15em 0.23em 0 rgba(0, 0, 0, 0.5);
      box-shadow: 0 0.15em 0.23em 0 rgba(0, 0, 0, 0.5);
      pointer-events: auto;
    }
    .github-fork-ribbon:after {
      content: attr(data-ribbon);
      color: #fff;
      font: 700 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height: 1.54em;
      text-decoration: none;
      text-shadow: 0 -0.08em rgba(0, 0, 0, 0.5);
      text-align: center;
      text-indent: 0;
      padding: 0.15em 0;
      margin: 0.15em 0;
      border-width: 0.08em 0;
      border-style: dotted;
      border-color: #fff;
      border-color: rgba(255, 255, 255, 0.7);
    }
    .github-fork-ribbon.left-bottom,
    .github-fork-ribbon.left-top {
      right: auto;
      left: 0;
    }
    .github-fork-ribbon.left-bottom,
    .github-fork-ribbon.right-bottom {
      top: auto;
      bottom: 0;
    }
    .github-fork-ribbon.left-bottom:after,
    .github-fork-ribbon.left-bottom:before,
    .github-fork-ribbon.left-top:after,
    .github-fork-ribbon.left-top:before {
      right: auto;
      left: -3.23em;
    }
    .github-fork-ribbon.left-bottom:after,
    .github-fork-ribbon.left-bottom:before,
    .github-fork-ribbon.right-bottom:after,
    .github-fork-ribbon.right-bottom:before {
      top: auto;
      bottom: 3.23em;
    }
    .github-fork-ribbon.left-top:after,
    .github-fork-ribbon.left-top:before,
    .github-fork-ribbon.right-bottom:after,
    .github-fork-ribbon.right-bottom:before {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    

